### Read Sheet 2

In [30]:
import pandas as pd
import numpy as np

# Define cols to fetch
cols = ["Fake Applicant ID", "Age (Birthday Masked)", "Income", "Promise Zone?", "Primary Interest In Course", "Education", "Hours Coded", "How Many Hours A Week Can You Commit To Class", "Hacker Rank Score", "Completed?"]
# Get app data
df_sheet2_filt = pd.read_csv("https://s3-eu-west-1.amazonaws.com/ai-hack-q3-orion/datasets/app_demo_data.csv",
                 skip_blank_lines=True,
                 index_col=0,
                 na_values='No Data',
                 usecols=cols
                )
df_sheet2_filt.head()

,Age (Birthday Masked),Income,Education,Promise Zone?,Primary Interest In Course,Hours Coded,How Many Hours A Week Can You Commit To Class,Hacker Rank Score,Completed?
Fake Applicant ID,,,,,,,,,
58123,54,"$90,000 - $100,000",Master's,0,Interested in seeking an apprenticeship/job in...,6-50,21-40,8.7,0
35033,30,"$10,000 - $20,000",Some college,0,Interested in seeking an apprenticeship/job in...,250+,21-40,8.0,0
24480,27,"$20,000 - $30,000",Some college,0,Interested in seeking an apprenticeship/job in...,0-5,21-40,8.7,0
64235,36,"$50,000 - $60,000",Master's,0,Interested in seeking an apprenticeship/job in...,6-50,21-40,8.0,0
35425,59,"Less than $5,000",Some college,0,Interested in seeking an apprenticeship/job in...,6-50,21-40,0.0,0

In [45]:
df_sheet2_filt.groupby('Fake Applicant ID')['Age (Birthday Masked)'].mean().head()

Fake Applicant ID
10047    30.0
10124    45.0
10197    50.0
10204    48.0
10232    44.0
Name: Age (Birthday Masked), dtype: float64

### Read sheet 1

In [115]:
# Define cols to fetch
cols = ["Fake Applicant ID", "Attendance", "Course Id"]
# Get completion data
df_sheet1 = pd.read_csv("https://s3-eu-west-1.amazonaws.com/ai-hack-q3-orion/datasets/completion_data.csv", 
                 skip_blank_lines=True,
                 index_col=1,
#                  na_values='No Data',
                 usecols=cols,
                 dtype = {"Course Id" : "object", "Fake Applicant ID" : "int32", "Attendance" : "str"}
                )
df_sheet1_filt = df_sheet1.dropna(axis=0)
df_sheet1_filt.head()

                  Course Id Attendance
Fake Applicant ID
10124                    77   Attended
10124                    77   Attended
10124                    77   Attended
10124                    77   Attended
10124                    77   Attended

In [85]:
series_attendence_total = df_sheet1_filt.groupby('Fake Applicant ID')['Attendance'].count()
series_attendence_total.head()

Fake Applicant ID
10124    26
10125    26
10197    40
10204    14
10232    26
Name: Attendance, dtype: int64

In [84]:
series_attended = df_sheet1_filt.groupby(['Fake Applicant ID'])['Attendance'].apply(lambda x: x[x.str.contains('Attended')].count())
series_attended.head()

Fake Applicant ID
10124    22
10125    11
10197     0
10204     2
10232     7
Name: Attendance, dtype: int64

In [69]:
df_sheet1_filt['Attendence_Perc'] = series_attended.loc[0:1] / series_attendence_total[0:1]

/home/ubuntu/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [117]:
df_joined['Attended_Total'] = df_sheet1_filt.groupby(['Fake Applicant ID'])['Attendance'].apply(lambda x: x[x.str.contains('Attended')].count())

                  Course Id Attendance
Fake Applicant ID
10124                    77   Attended
10124                    77   Attended
10124                    77   Attended
10124                    77   Attended
10124                    77   Attended

In [119]:
df_joined.head()

,Course Id,Attendance,Attendence_Total,Attendance_Total,Age (Birthday Masked),Income,Education,Promise Zone?,Primary Interest In Course,Hours Coded,How Many Hours A Week Can You Commit To Class,Hacker Rank Score,Completed?,Attended_Occurrence,Total_Attendence_Occ,Attended_Total
Fake Applicant ID,,,,,,,,,,,,,,,,
10047,NaN,NaN,NaN,NaN,32,"$40,000 - $50,000",Bachelor's,0,Interested in pursuing further education,51-250,11-20,7.3,0,NaN,NaN,NaN
10047,NaN,NaN,NaN,NaN,28,"$40,000 - $50,000",Some college,0,Interested in seeking an apprenticeship/job in...,0-5,11-20,2.7,0,NaN,NaN,NaN
10124,77,Attended,50.0,50.0,45,"$40,000 - $50,000",Master's,0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0,22.0,22.0,22.0
10124,77,Attended,50.0,50.0,45,"$40,000 - $50,000",Master's,0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0,22.0,22.0,22.0
10124,77,Attended,50.0,50.0,45,"$40,000 - $50,000",Master's,0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0,22.0,22.0,22.0

### Join the two filtered tables

In [122]:
df_joined = df_sheet1_filt.join(df_sheet2_filt, how='left')
df_joined.head()

,Course Id,Attendance,Age (Birthday Masked),Income,Education,Promise Zone?,Primary Interest In Course,Hours Coded,How Many Hours A Week Can You Commit To Class,Hacker Rank Score,Completed?
Fake Applicant ID,,,,,,,,,,,
10124,77,Attended,45.0,"$40,000 - $50,000",Master's,0.0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0.0
10124,77,Attended,45.0,"$40,000 - $50,000",Master's,0.0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0.0
10124,77,Attended,45.0,"$40,000 - $50,000",Master's,0.0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0.0
10124,77,Attended,45.0,"$40,000 - $50,000",Master's,0.0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0.0
10124,77,Attended,45.0,"$40,000 - $50,000",Master's,0.0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0.0

Add column: Attended count

In [123]:
df_joined['Attended_Occurrence'] = df_sheet1_filt.groupby(['Fake Applicant ID'])['Attendance'].apply(lambda x: x[x.str.contains('Attended')].count())
df_joined.head()

,Course Id,Attendance,Age (Birthday Masked),Income,Education,Promise Zone?,Primary Interest In Course,Hours Coded,How Many Hours A Week Can You Commit To Class,Hacker Rank Score,Completed?,Attended_Occurrence
Fake Applicant ID,,,,,,,,,,,,
10124,77,Attended,45.0,"$40,000 - $50,000",Master's,0.0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0.0,22
10124,77,Attended,45.0,"$40,000 - $50,000",Master's,0.0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0.0,22
10124,77,Attended,45.0,"$40,000 - $50,000",Master's,0.0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0.0,22
10124,77,Attended,45.0,"$40,000 - $50,000",Master's,0.0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0.0,22
10124,77,Attended,45.0,"$40,000 - $50,000",Master's,0.0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0.0,22

Add column: Total_Attendence_Occ

In [110]:
df_joined['Total_Attendence_Occ'] = df_sheet1_filt.groupby(['Fake Applicant ID'])['Attendance'].apply(lambda x: x[x.str.contains('Attended|Absent|Excused', regex=True)].count())
df_joined.head(20)

,Course Id,Attendance,Attendence_Total,Attendance_Total,Age (Birthday Masked),Income,Education,Promise Zone?,Primary Interest In Course,Hours Coded,How Many Hours A Week Can You Commit To Class,Hacker Rank Score,Completed?,Attended_Occurrence,Total_Attendence_Occ
Fake Applicant ID,,,,,,,,,,,,,,,
10047,NaN,NaN,NaN,NaN,32,"$40,000 - $50,000",Bachelor's,0,Interested in pursuing further education,51-250,11-20,7.3,0,NaN,NaN
10047,NaN,NaN,NaN,NaN,28,"$40,000 - $50,000",Some college,0,Interested in seeking an apprenticeship/job in...,0-5,11-20,2.7,0,NaN,NaN
10124,77,Attended,50.0,50.0,45,"$40,000 - $50,000",Master's,0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0,22.0,22.0
10124,77,Attended,50.0,50.0,45,"$40,000 - $50,000",Master's,0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0,22.0,22.0
10124,77,Attended,50.0,50.0,45,"$40,000 - $50,000",Master's,0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0,22.0,22.0
10124,77,Attended,50.0,50.0,45,"$40,000 - $50,000",Master's,0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0,22.0,22.0
10124,77,Attended,50.0,50.0,45,"$40,000 - $50,000",Master's,0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0,22.0,22.0
10124,77,Attended,50.0,50.0,45,"$40,000 - $50,000",Master's,0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0,22.0,22.0
10124,77,Attended,50.0,50.0,45,"$40,000 - $50,000",Master's,0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0,22.0,22.0
10124,77,Attended,50.0,50.0,45,"$40,000 - $50,000",Master's,0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0,22.0,22.0
10124,77,Attended,50.0,50.0,45,"$40,000 - $50,000",Master's,0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0,22.0,22.0
10124,77,Attended,50.0,50.0,45,"$40,000 - $50,000",Master's,0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0,22.0,22.0
10124,77,Attended,50.0,50.0,45,"$40,000 - $50,000",Master's,0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0,22.0,22.0
10124,77,Attended,50.0,50.0,45,"$40,000 - $50,000",Master's,0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0,22.0,22.0
10124,77,Attended,50.0,50.0,45,"$40,000 - $50,000",Master's,0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0,22.0,22.0
10124,77,Attended,50.0,50.0,45,"$40,000 - $50,000",Master's,0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0,22.0,22.0
10124,77,No Data,50.0,50.0,45,"$40,000 - $50,000",Master's,0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0,22.0,22.0
10124,77,No Data,50.0,50.0,45,"$40,000 - $50,000",Master's,0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0,22.0,22.0
10124,77,No Data,50.0,50.0,45,"$40,000 - $50,000",Master's,0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0,22.0,22.0
10124,77,No Data,50.0,50.0,45,"$40,000 - $50,000",Master's,0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0,22.0,22.0

Add Attendence_Perc column

In [113]:
df_joined['Attendence_Perc'] = df_joined.apply(x/df_joined['Total_Attendence_Occ'], axis=1)
df_joined.head()

NameError: name 'x' is not defined

In [146]:
df_temp = df_joined.drop_duplicates(subset=['Course Id'])
df_temp.head()

,Course Id,Attendance,Age (Birthday Masked),Income,Education,Promise Zone?,Primary Interest In Course,Hours Coded,How Many Hours A Week Can You Commit To Class,Hacker Rank Score,Completed?,Attended_Occurrence
Fake Applicant ID,,,,,,,,,,,,
10124,77,Attended,45.0,"$40,000 - $50,000",Master's,0.0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0.0,22
10125,23,Attended,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
10197,49,No Data,50.0,"$20,000 - $30,000",High school or GED,0.0,Interested in seeking an apprenticeship/job in...,250+,6-10,3.3,0.0,0
10204,111,Attended,48.0,"$40,000 - $50,000",High school or GED,0.0,Interested in seeking an apprenticeship/job in...,0-5,11-20,8.0,0.0,2
10232,137,No Data,44.0,"Less than $5,000",Bachelor's,0.0,Interested in seeking an apprenticeship/job in...,6-50,40+,9.3,1.0,7

In [148]:
df_temp.apply(lambda col: col.drop_duplicates().reset_index(drop=True))

,Course Id,Attendance,Age (Birthday Masked),Income,Education,Promise Zone?,Primary Interest In Course,Hours Coded,How Many Hours A Week Can You Commit To Class,Hacker Rank Score,Completed?,Attended_Occurrence
0,77,Attended,45.0,"$40,000 - $50,000",Master's,0.0,Interested in seeking an apprenticeship/job in...,6-50,21-40,9.3,0.0,22.0
1,23,No Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0
2,49,Absent,50.0,"$20,000 - $30,000",High school or GED,1.0,General interest in coding,250+,6-10,3.3,1.0,0.0
3,111,NaN,48.0,"Less than $5,000",Bachelor's,NaN,NaN,0-5,11-20,8.0,NaN,2.0
4,137,NaN,44.0,"$30,000 - $40,000",Associate's,NaN,NaN,51-250,40+,6.0,NaN,7.0
5,125,NaN,30.0,"$10,000 - $20,000",Some college,NaN,NaN,NaN,NaN,4.0,NaN,36.0
6,48,NaN,37.0,"$5,000 - $10,000",NaN,NaN,NaN,NaN,NaN,6.7,NaN,6.0
7,76,NaN,38.0,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,9.0
8,84,NaN,36.0,NaN,NaN,NaN,NaN,NaN,NaN,4.7,NaN,33.0
9,152,NaN,19.0,NaN,NaN,NaN,NaN,NaN,NaN,8.7,NaN,21.0
10,122,NaN,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0
11,87,NaN,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0
12,109,NaN,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
13,147,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
14,75,NaN,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0
15,90,NaN,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0
16,45,NaN,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0
17,129,NaN,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0
18,149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0
19,150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0
20,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0
21,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0
22,89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [150]:
pd.get_dummies(df_temp,prefix=['Education'])

ValueError: Length of 'prefix' (1) did not match the length of the columns being encoded (7).